fastapi==0.121.3
uvicorn[standard]==0.38.0
pydantic==2.12.4
torch==2.9.1 --index-url https://download.pytorch.org/whl/cpu
torchaudio==2.9.1 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.20.1 --index-url https://download.pytorch.org/whl/cpu
sentence-transformers==5.1.2
transformers==4.57.1
faiss-cpu==1.13.0
numpy==2.3.5
scikit-learn==1.7.2
pymongo==4.15.4
python-dotenv==1.2.1
Levenshtein==0.27.3
nltk==3.9.2